h1 {
      text-align: center;
      color: white;
    }
p {
      font-size: 20px;
      text-align: center;
      color: white;
    }
    ul {
      font-size: 20px;
      list-style-type: none;
      list-style-position: inside;
      color: white;
    }
  
 
  .footer {
      font-size: 15px;
      text-align: center;

      
    }
    .centerDivider{
      height: 750px;
      color: white;
      text-align: center;
    }
    #projectList {
      color: white;
      list-style-type: none;
    }
    #projectList li {
      display: inline-block;
    }
    .projectButtons {
      display: block;
      width: 10rem;
      height: 5rem;
      background-color: #333;
      color: white;
      text-decoration: none;
      text-align: center;
      line-height: 4;
      margin: 10px;
  
    }
    
    