h1 {
  text-align: center;
  color: white;
}
h2 {
  text-align: center;
  color: white;
}

p {
  font-size: 20px;
  text-align: center;
  color: white;
}

ul {
  list-style-type: none;
  list-style-position: inside;
  color: white;
}


.footer {
  font-size: 15px;
  text-align: center;
}

.centerDivider {
  height: 750px;
  color: white;
  text-align: center;
}

#projectList {
  color: white;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.projectButtons {
  width: 8em;
  height: 4em;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-width: 0.2rem;
  border-radius: 1rem;
  border-style: solid;
  border-color: white;
  margin: .1em .3em;
}
.projectButtons a {
  display: flex;
  font-size: 1.5em;
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
  line-height: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}


.projectButtons:hover {
  background-color: #444;
}
.projectButtons:active {
  background-color: #555;
}
