h1 {
  text-align: center;
  color: white;
}
h2 {
  text-align: center;
  color: white;
}

p {
  font-size: 20px;
  text-align: center;
  color: white;
}

ul {
  font-size: 20px;
  list-style-type: none;
  list-style-position: inside;
  color: white;
}


.footer {
  font-size: 15px;
  text-align: center;
}

.centerDivider {
  height: 750px;
  color: white;
  text-align: center;
}

#projectList {
  color: white;
  list-style-type: none;
  display: flex;
  justify-content: center;
}


.projectButtons {
  position: center;
  display: inline-block;
  width: 10rem;
  height: 5rem;
  background-color: #333;
  font-size: 1.3rem;
  color: white;
  
  line-height: 5rem;
  text-align: center;
  margin: .3rem;
  margin-left: -1.5rem;
  text-decoration: none;
  border-width: 0.2rem;
  border-radius: 1rem;
  border-style: solid;
  border-color: white;
}


.projectButtons:hover {
  background-color: #444;
}
.projectButtons:active {
  background-color: #555;
}
