
:root {
  --black: rgb(0, 0, 0);
  --prussian-blue: rgb(20, 33, 61);
  --orange: rgb(252, 163, 17);
  --alabaster-grey: rgb(229, 229, 229);
  --white: rgb(255, 255, 255);
}

#mainNavBar {
  background-color: var(--black);
}

.navbar-brand {
  color: var(--orange);
}

.navbar-brand:hover {
  color: var(--orange);
}

.footerlinkredirects {
  color: var(--white);
  text-decoration: none;
  display: block;
  text-align: center;
  
  
}

