@use "palette";
#mainNavBar{
    background-color: palette.$black;

}
.navbar-brand{
    color: palette.$orange;
    
}
.navbar-brand:hover{
    color: palette.$orange;
}
.NavMenuIcon{
    color: palette.$white;
}
