
nav ul {
    /*Rule 1*/
    display: flex;
}


nav ul li {
/*Rule 1*/
list-style-type: none;

/*Rule 2*/
background-color: hwb(0 0% 0% / 0.502);

/*3a
margin-right: 30px;
margin-left: 30px;
*/

/*3b
margin-right: 30em;
margin-left: 30em;
*/

/*4a
padding: 0 30px;
*/

/*4b
padding: 0 30em;
*/

/*4c*/
padding: 0 10%;

}
/*Rule 5*/
footer p {
    text-align: right;
}
/*Rule 6*/
div img{
    width: 400px;
    height: 400px;
}
/*Rule 6*/
div span{
    /*Color change for better visibility*/
    color: white;
    
    left: -100px;
    top: -10px;
    position: relative;

}